* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.home-container {
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}


.home-form {
    width: 60%;
    margin: auto;
}