* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #1F1F1F;
}

#fixed-bg {
    position: fixed;
    width: 100%;
    z-index: -1;
}

@media only screen and (max-width: 1200px){
    #fixed-bg {
    position: fixed;
    width: 140%;
    z-index: -1;
    }
}

@media only screen and (max-width: 900px){
    #fixed-bg {
    position: fixed;
    width: 170%;
    z-index: -1;
    }
}

@media only screen and (max-width: 750px){
    #fixed-bg {
    position: fixed;
    width: 200%;
    z-index: -1;
    }
}

@media only screen and (max-width: 600px){
    #fixed-bg {
    position: fixed;
    width: 240%;
    z-index: -1;
    }
}

.home-container {
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    padding-top: 50px;
    
}

/*
.home-form {
    width: 40%;
    margin: auto;
    padding-top: 50px;
}

form {
    background-color: #1F1F1F;
    border-radius: 20px;
    padding: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-group input {
    background-color: #474747;
    color: white;
    border: none;
}

.form-group button {
    background-color: #292929;
    color: white;
    width: 100%
}

.form-group button:hover {
    background-color: white;
    color: #292929;
    transition: 0.5s ease;
}
*/


/*icon (font-awesome)*/
.fas {
    margin-right: 10px;
}

/*welkom sectie*/
.home-welkom {
    width: 40%;
    margin: auto;
    background-color: #1F1F1F;
    border-radius: 15px;
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 30px;
}

.welkom {
    border-collapse: collapse;
    width: 100%;
}


/*ranking sectie*/
.home-ranking {
    width: 40%;
    margin: auto;
    background-color: #1F1F1F;
    border-radius: 15px;
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 50px;
}

.ranking {
    border-collapse: collapse;
    width: 100%;
}

.ranking td {
    border: 0;
}

.ranking td div {
    border: 1px solid white;
    border-radius: 5px;
    height: 35px;
    margin: 10px 0px;
    padding: 5px 10px;
    text-align: center;
}

table {
    border-spacing: 0;
}

td {
    border: 1px solid white;
    border-radius: 5px;
}

/*footer*/
.footer-bg{
    background-color: #1F1F1F;
    padding: 70px 220px 50px 220px;
    margin-top: 200px;
}

.credits {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.kop-footer {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.credits p{
    margin-bottom: -7px;
    font-weight: 100;
}

.credits .cap{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 380;
    margin-bottom: 30px;
}